<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>AngularJS Directives</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="app-controllers.js"></script>
</head>
<body>
    <div id="todoPanel" class="panel panel-default" ng-controller="DefaultController as defaultCtrl" >
        <div class="panel-heading">
            <h3 class="panel-title">
                To Do List
            </h3>
            <div class="checkbox well">
                <label>
                    <input type="checkbox" ng-model="todos[2].complete" />
                    Item 3 is complete
                </label>
            </div>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Action</th>
                        <th>Done</th>
                    </tr>
                </thead>
                <tbody ng-cloak>
                    <tr ng-repeat="todo in todos">
                        <td>{{$index + 1}}</td>
                        <td>{{todo.action}}</td>
                        <td>
                            <span ng-if="todo.complete">(Done)</span>
                            <span ng-if="!todo.complete">(Incomplete)</span>
<!--                             <span ng-show="todo.complete">(Done)</span>
                            <span ng-hide="todo.complete">(Incomplete)</span> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>