<div class="panel panel-default row" ng-controller="ProductCatalogController as productCatalogCtrl" ng-hide="sportsStoreCtrl.error">
    <div class="col-xs-3">
        <a ng-click="productCatalogCtrl.selectCategory()" class="btn btn-block btn-default btn-lg">Home</a>
        <a ng-repeat="productCategory in sportsStoreCtrl.products | orderBy:'category' | unique:'category'" class="btn btn-block btn-default btn-lg" ng-click="productCatalogCtrl.selectCategory(productCategory)" ng-class="productCatalogCtrl.getCategoryClass(productCategory)">{{productCategory}}</a>
    </div>
    <div class="col-xs-8">
        <div class="well" ng-repeat="product in sportsStoreCtrl.products | filter:productCatalogCtrl.isProductInSelectedCategory | range:productCatalogCtrl.selectedPage:productCatalogCtrl.productsPerPage">
            <h3>
                <strong>{{product.name}}</strong>
                <span class="pull-right label label-primary">{{product.price | currency}}</span>                
            </h3>
            <button ng-click="productCatalogCtrl.addProductToCart(product)" class="btn btn-success pull-right">
                Add to cart
            </button>
            <span class="lead">{{product.description}}</span>
        </div>
        <div class="pull-right btn-group">
            <a ng-repeat="page in sportsStoreCtrl.products | filter:productCatalogCtrl.isProductInSelectedCategory | pageCount:productCatalogCtrl.productsPerPage" ng-click="productCatalogCtrl.selectPage($index + 1)" class="btn btn-default" ng-class="productCatalogCtrl.getPageClass($index + 1)">{{$index + 1}}</a>
        </div>
    </div>
</div>