<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>AngularJS Directives</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="app-controllers.js"></script>
</head>
<body>
    <div class="well well-lg" ng-controller="DefaultController as defaultCtrl" >
        <form name="myForm" novalidate>
            <!-- Without specifying the first value -->
            <div class="form-group">
                <label>Select an Action</label>
                <select ng-model="selectValue1" ng-options="todo.action for todo in todos">
                </select>
            </div>

            <!-- Specifying a custom first value -->
            <div class="form-group">
                <label>Select an Action</label>
                <select ng-model="selectValue2" ng-options="todo.action for todo in todos">
                    <option value="">(Pick One)</option>
                </select>
            </div>

            <!-- selecting an item from the object instead of the whole object -->
            <div class="form-group">
                <label>Select an Action</label>
                 <select ng-model="selectValue3" ng-options="todo.id as todo.action for todo in todos">
                </select>
            </div>

            <!-- Grouping by a given property -->
            <div class="form-group">
                <label>Select an Action</label>
                 <select ng-model="selectValue4" ng-options="todo.action group by todo.place for todo in todos">
                </select>
            </div>

            <!-- Combining grouping and mapping -->
            <div class="form-group">
                <label>Select an Action</label>
                 <select ng-model="selectValue5"
                    ng-options="todo.id as todo.action group by todo.place for todo in todos">
                </select>
            </div>


        </form>
        <div class="well well-sm">
            <p>Selected Value 1: {{selectValue1 || 'None selected yet'}}</p>
            <p>Selected Value 2: {{selectValue2 || 'None selected yet'}}</p>
            <p>Selected Value 3: {{selectValue3 || 'None selected yet'}}</p>
            <p>Selected Value 4: {{selectValue4 || 'None selected yet'}}</p>
            <p>Selected Value 5: {{selectValue5 || 'None selected yet'}}</p>
        </div>
    </div>
</body>
</html>