<div class="panel-body">
    <table class="table table-striped table-bordered">
        <thead>
            <th>Name</th>
            <th>Category</th>
            <th class="text-right">Price</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-hide="products.length">
                <td colspan="4" class="text-center">
                    No Products in the Catalogue
                </td>
            </tr>
            <tr ng-repeat="product in products" ng-cloak>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td class="text-right">{{product.price | currency}}</td>
                <td class="text-center">
                    <button class="btn btn-xs btn-primary" ng-click="deleteProduct(product)">Delete</button>
                    <button class="btn btn-xs btn-primary" ng-click="editOrCreateProduct(product)">Edit</button>
                    <increment item="product" property-name="price" restful="true" method-name="$save"></increment>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary" ng-click="listProducts()">Refresh</button>
        <button class="btn btn-primary" ng-click="editOrCreateProduct()">New</button>
    </div>
</div>