<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>AngularJS Directives</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="app-controllers.js"></script>
    <style type="text/css">
        .Red { background-color: lightcoral; }
        .Green { background-color: lightgreen; }
        .Blue { background-color: lightblue; }
    </style>
</head>
<body>
    <div id="todoPanel" class="panel panel-default" ng-controller="DefaultController as defaultCtrl" >
        <div class="panel-heading">
            <h3 class="panel-title">
                To Do List
            </h3>
            <div class="well">
                <span ng-repeat="button in buttonNames">
                    <button class="btn btn-info" ng-click="data.rowColor = button">{{button}}</button>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Action</th>
                        <th>Done</th>
                    </tr>
                </thead>
                <tbody ng-cloak>
                    <tr ng-repeat="todo in todos" ng-class="data.rowColor"
                        ng-mouseenter="handleEvent($event)"
                        ng-mouseleave="handleEvent($event)">
                        <td>{{$index + 1}}</td>
                        <td>{{todo.action}}</td>
                        <td ng-class="data.columnColor">{{todo.complete}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>